#---------------------------------------------------------------------
# Example configuration for a possible web application.  See the
# full configuration options online.
#
#   http://haproxy.1wt.eu/download/1.4/doc/configuration.txt
#
#---------------------------------------------------------------------

#---------------------------------------------------------------------
# Global settings
#---------------------------------------------------------------------
global
    # to have these messages end up in /var/log/haproxy.log you will
    # need to:
    #
    # 1) configure syslog to accept network log events.  This is done
    #    by adding the '-r' option to the SYSLOGD_OPTIONS in
    #    /etc/sysconfig/syslog
    #
    # 2) configure local2 events to go to the /var/log/haproxy.log
    #   file. A line like the following can be added to
    #   /etc/sysconfig/syslog
    #
    #    local2.*                       /var/log/haproxy.log
    #
    log         127.0.0.1 local2

    chroot      /var/lib/haproxy
    pidfile     /var/run/haproxy.pid
    maxconn     4000
    user        haproxy
    group       haproxy
    daemon

    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats

#---------------------------------------------------------------------
# common defaults that all the 'listen' and 'backend' sections will
# use if not designated in their block
#---------------------------------------------------------------------
defaults
    mode                    http
    log                     global
    option                  httplog
    option                  dontlognull
    option http-server-close
    option forwardfor       except 127.0.0.0/8
    option                  redispatch
    retries                 3
    timeout http-request    10s
    timeout queue           1m
    timeout connect         10s
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000

#---------------------------------------------------------------------

listen stats
    bind :9000
    mode http
    stats enable
    stats uri /
    monitor-uri /healthz


frontend openshift-api-server
    bind *:6443
    default_backend openshift-api-server
    mode tcp
    option tcplog

backend openshift-api-server
    balance source
    mode tcp
    server ddbtstrp 10.201.16.67:6443 check
    server ddmstr01 10.201.16.73:6443 check
    server ddmstr02 10.201.16.68:6443 check
    server ddmstr03 10.201.16.72:6443 check

frontend machine-config-server
    bind *:22623
    default_backend machine-config-server
    mode tcp
    option tcplog

backend machine-config-server
    balance source
    mode tcp
    server ddbtstrp 10.201.16.67:22623 check
    server ddmstr01 10.201.16.73:22623 check
    server ddmstr02 10.201.16.68:22623 check
    server ddmstr03 10.201.16.72:22623 check

frontend ingress-http
    bind *:80
    default_backend ingress-http
    mode tcp
    option tcplog

backend ingress-http
    balance source
    mode tcp
    server ddwrkr01-http-router0 10.201.16.56:80 check
    server ddwrkr02-http-router1 10.201.16.58:80 check
    server ddwrkr03-http-router2 10.201.16.20:80 check
    server ddwrkr04-http-router3 10.201.16.45:80 check
    server ddwrkr05-http-router4 10.201.16.31:80 check
    server ddwrkr06-http-router5 10.201.16.33:80 check

frontend ingress-https
    bind *:443
    default_backend ingress-https
    mode tcp
    option tcplog

backend ingress-https
    balance source
    mode tcp
    server ddwrkr01-https-router0 10.201.16.56:443 check
    server ddwrkr02-https-router1 10.201.16.58:443 check
    server ddwrkr03-https-router2 10.201.16.20:443 check
    server ddwrkr04-https-router3 10.201.16.45:443 check
    server ddwrkr05-https-router4 10.201.16.31:443 check
    server ddwrkr06-https-router5 10.201.16.33:443 check

#---------------------------------------------------------------------